<!doctype html>
<html lang="en">
{{> head}}
{{> header}}
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-body text-center">
            <h3>Сервіс отримання даних про погоду</h3>
            <a href="/weather" class="btn btn-primary btn-lg" role="button">Сторінка погоди</a>
        </div>
    </div>
</div>
</body>
</html>